body{
    background-color: #121212 !important; /* <-- Change this */
    color: #EAEAEA !important; 
    font-family: "poppins",Arial, Helvetica, sans-serif !important ;
}
header{
    background-image: url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg");
    background-size: cover;
    background-position: center;
    padding: 50px;  
}

header>div img {
    height: 250px;
    border-radius: 50%;
}
nav {
    background-color: rgba(18, 18, 18, 0.7) !important; 
    /* backdrop-filter: blur(10px) !important;   */
    border-bottom: 1px solid rgba(63, 63, 70, 0.4) !important;
}
nav button{
    background-color: #38BDF8 !important; 
    color: #fdf6f6 !important;
    border: none !important;
}
nav a{
  color: #EAEAEA !important;
  transition: color 0.3s ease, background-color 0.3s ease !important; 
  
}
nav a:hover{
  color: #38BDF8 !important;          
  background-color: rgba(56, 189, 248, 0.1);
}
.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.729) !important;
}
.dropdown-menu a{
    color: whitesmoke;
}
.dropdown-menu a:hover{
    background-color: rgba(216, 216, 216, 0.727) !important;
}
.bg-secondary {
    background-color: rgba(62, 62, 62, 0.24) !important;
}
.card{
    width: 200px;
    background-color: #778da9!important;
    /* background-color: #5299D3 !important; */
}
.card p {
    transition: 1s;
}
.card p:hover {
    transform: scale(1.2);
    color: #0d1b2a;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 0 15px rgba(56, 189, 248, 0.5);
}
footer p{
    margin: auto;
    width: max-content;
    padding: 5px 15px;
    margin-top: 20px;
}
.sec-2{
    background-color: #1f293725 !important;
}
.modal-header{
background-color: #023e8a !important;
}
.submit-btn{
background-color: #1b263b !important;
}
.sec-3{
    background-color: #0d1b2a !important;
}
.projects img{
   
    transition: .6s !important;
}
.projects img:hover{
transform: scale(1.05);
 box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4) !important;
} 
 .webdev{
    color: #D4AF37 !important;
    text-decoration: none !important;
    font-weight: bold !important;
    text-shadow: 0px 0px 8px rgba(71, 71, 71, 0.8) !important;
}
.footer-1{
    background-color: #1F2937 !important;
    
}
.contacts-links{
    transition: .7s;
}
.contacts-links:hover{
    background-color: #0d1b2a !important;
    color: white !important;

}